<!--<button (click)="clearSelection()">Click to reset select</button>-->
<!--<app-ag-grid-column></app-ag-grid-column>-->
<!--<ag-grid-angular-->
<!--  style="width: 500px; height: 800px"-->
<!--  class="ag-theme-alpine"-->
<!--  [columnDefs]="columnDefs"-->
<!--  [rowSelection]="'multiple'"-->
<!--  [defaultColDef]="defaultColDef"-->
<!--  [pagination]="true"-->
<!--  [rowHeight]="25"-->
<!--  [rowData]="rowData$ | async"-->
<!--  (gridReady)="onGridReady($event)"-->
<!--&gt;-->
<!--</ag-grid-angular>-->
<!-- <app-ag-grid-row></app-ag-grid-row> -->
<!-- <app-ag-grid-row-transaction></app-ag-grid-row-transaction> -->
<!-- <app-ag-grids-selection></app-ag-grids-selection> -->
<app-ag-grid-chart  id="app"></app-ag-grid-chart>
